.main-tables-container{
    justify-content: center;
}

.product-cards--container1{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
    justify-content: center;
}
.plans-container--slider{
    justify-content: center;
}